body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcb8a7; /* Cambiar el color de fondo a rojo */
    font-family: 'Pacifico', cursive;
  }
  .container {
    background-color: #ffffff; /* Color del cuadrado blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del cuadrado */
}

.content {
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.green-button, .red-button {
    font-family: 'Pacifico', cursive;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Color del texto de los botones */
    cursor: pointer;
}

.green-button {
    background-color: #28a745; /* Color verde */
    margin-right: 10px;
}

.red-button {
    background-color: #dc3545; /* Color rojo */
}
  #heart-rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 500%;
    height: 500%;
    z-index: -1;
  }
  
  .heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('imagen/heart.png');
    background-size: cover;
    animation: fall 5s linear infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100vh) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh) rotate(720deg);
      opacity: 1;
    }
  }
  